<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/stylesheet.css" />
    </head>
    <body>
        <form id="item-description" name="popupForm">
            <input
                type="text"
                name="productName"
                placeholder="Product Name"
                required=""
            />
            <input
                type="number"
                name="quantity"
                placeholder="Quantity"
                min="1"
                required=""
            />
            <input
                type="text"
                name="category"
                placeholder="Category (e.g., Electronics, Food)"
            />
            <input
                type="date"
                name="stockDate"
                placeholder="Date of Stocking"
            />
            <input
                type="number"
                name="price"
                placeholder="Unit Price"
                step="0.01"
                min="0"
            />
            <input name="edit-button" type="submit" value="Edit" />
            <input name="close-button" type="button" value="Close" />
        </form>
    </body>
</html>
