extends sideBar

block content
    div(name='mainContent')
        div(class='container' style="background: #f1f1f1")
            p Id
            p Product Name
            p Quantity
            p Category
            p Stock Date
            p Price

    script(src='scripts/app.js')
